a {
    color: #455A64;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

.accent-color {
    color: #FE5151;
}

.card {
    width: 400px;
    height: 200px;
}

.img-wrapper img {
    opacity: 0;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
}

.img-wrapper.loaded img {
    opacity: 1;
}
