a {
    color: #4078c0;
    text-decoration: inherit;
}

.card {
    width: 400px;
    height: 200px;
}

.user-detail {
    width: 100%;
    height: 400px;
    padding: 30px;
}

.img-wrapper img {
    opacity: 0;
    -webkit-transition: opacity 150ms;
    -moz-transition: opacity 150ms;
    -ms-transition: opacity 150ms;
    transition: opacity 150ms;
}

.img-wrapper.loaded img {
    opacity: 1;
}
