<div class="container infinite-scroll" when-scrolled="loadMore()">
    <h2>GitHub Users</h2>
    <div class="user-card" ng-repeat="user in users">
        <div class="img-wrapper loading">
            <img ng-src="{{user.avatar_url}}" onload="imageLoaded(this)" >
        </div>
        <div class="user-card-info">
            <p ng-show="user.loaded">{{user.name}}</p>
            <p><a href="#!/users/{{user.login}}">{{user.login}}</a></p>
            <p ng-show="user.loaded">{{user.company}}</p>
            <p ng-show="user.loaded">{{user.location}}</p>
            <p ng-show="user.loaded">{{user.email}}</p>
            <p ng-hide="user.loaded" ng-click="loadCard(user)">More...</p>
        </div>
    </div>
</div>