<md-content layout-padding infinite-scroll="loadMore()">
    <h2>GitHub Users</h2>
    <md-grid-list
            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
            md-row-height="4:3" md-gutter="6px" md-gutter-gt-sm="4px">
        <md-grid-tile ng-repeat="user in users">
            <md-card class="card">
                <md-card-header layout="row" layout-align="none center">
                    <md-card-avatar>
                        <div class="img-wrapper">
                          <img class="md-user-avatar" ng-src="{{user.avatar_url}}" onload="imageLoaded(this)">
                        </div>
                    </md-card-avatar>
                    <md-card-header-text layout="row" layout-align="space-between">
                        <span class="md-title">
                            <a href="#!/users/{{user.login}}">{{user.login}}</a>
                        </span>
                        <span class="md-title" ng-show="user.loaded">{{user.name}}</span>
                        <span class="md-title" ng-hide="user.loaded" ng-click="loadCard(user)">More...</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-title layout="column" layout-align="center end">
                    <span class="md-subhead" ng-show="user.loaded">{{user.company}}</span>
                    <span class="md-subhead" ng-show="user.loaded">{{user.location}}</span>
                    <span class="md-subhead" ng-show="user.loaded">{{user.email}}</span>
                </md-card-title>
                <md-card-footer layout="row" layout-align="space-between">
                    <a class="md-subhead" ng-show="user.loaded" href="#!/users/{{user.login}}/repos">Repos</a>
                    <span ng-show="user.loaded">Followers: {{user.followers}}</span>
                    <span ng-show="user.loaded">Following: {{user.following}}</span>
                </md-card-footer>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</md-content>
